@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

:root {
  --primary-color: #edb59d;
  --secondary-color: #fed7aa;
  --tertiary-color: #ffedd5;
}

body {
  font-family: "Handlee", cursive;
  margin: 0px;
  text-align: center;
  background-color: var(--primary-color);
}

h1 {
  color: var(--tertiary-color);
}

p {
  color: var(--tertiary-color);
  font-size: x-large;
}

.container {
  width: 30vw;
  margin: auto;
  font-size: larger;
}

input,
label {
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
}

label {
  padding-bottom: 0.1vw;
}

input {
  font-family: inherit;
  width: 27vw;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  background-color: var(--secondary-color);
}

button {
  font-family: inherit;
  padding: 1rem;
  margin: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--secondary-color);
}
